@media (min-width:768px){
html{
  color:white
}
body{
  font-family: 'Voltaire', sans-serif;
  color: white;
  background-color: black;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
 color:white;
 font-size: 25px;
 height: 100vh;
 justify-content: center;
margin:20px auto;
}

.logo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height:750px;
color:black;
}

.items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

}

.nav{
color: white;
display: flex;
flex-direction: column;
justify-content: space-evenly;
width: 100%;
height: 100px;
font-size: 55px;
}
.App{
  height: 30px;
}
.nav-links{
  display: flex;
  justify-content: space-evenly;
  text-align: center;

}
.content{
 display: flex;
 flex-wrap: wrap;
 height: 70vh;

 padding: 150px;
 margin: 250px;
}



.listings {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}
.art-grid{
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

}

.art-card {
  padding: 1em;
  width: 30em;
  height: 25em;
  background-color: black;
  border-radius: 0.5em;
  margin: 1em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.art-card:hover {
  transform: scale(1.01);
}

.art-card img {
  width: 20em;
  height: 10em;
  object-fit: center;
  align-items: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
}

p{
  color: white
}
.artist-container{
  display: flex;
  flex-direction: row;

}
.Artists {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
  margin: 20px;
  padding: 20px;

}
form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  text-align: center;
}

.artist-form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h3{

}

input {
  width:100%;
  height: 60px;
}
.Artworks {
  color:white;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;

}

.artist-dashboard {
  margin:20px;
}